name: docs

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      # Instala deps do site (use seu arquivo de requirements de docs)
      - name: Install docs dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r docs/requirements.txt

      # (Opcional mas recomendado) se mkdocstrings importa seu pacote via src/
      - name: Install package (editable)
        run: |
          pip install -e .

      - name: Deploy MkDocs (pt)
        run: |
          mkdocs gh-deploy --force --config-file mkdocs.pt.yml
